
canvas{
    background: rgb(136, 5, 114);
    height: fit-content;
    width: fit-content;
}

#container {
    position: relative;
    width: 1000px;
    height: 900px;
    background: whitesmoke;
}

#container div {
    position: absolute;
    left:auto;
    width: 190px;
    height: 100px;
    background: whitesmoke;
    }
    

.top {
    top: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 50px;
}

.left {
    left: 0;
}

.center{
    top: 0px;
    bottom: 500px;
    right: 500px;
    left: 500px;
}

#image-to-identify {
    height:100px;
    width: 100px;
}

.gamebtn {
    z-index: 2;
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
  }
  
  .gamebtn:hover {
    cursor: pointer;
    filter: brightness(130%) drop-shadow(0 2px 5px black);
  }

